body{
    background-color: rgb(48, 48, 48);
}

h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100px;
    text-shadow: white;
    text-align: center;
    letter-spacing: 8px;
    color: #000000;
    text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8;
}

img{
    width: 200px;
    display: block;
    margin: auto;
}

section{
    display: flex;
}

article{
    width: 50%;
    margin: 20px;
    background-color: grey;
    border: black solid 5px;
}

h2{
    text-align: center;
    font-size: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 5px;
}

hr{
    border: black solid 1px;
    width: 65%;
    margin-bottom: 20px;
}

p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color: white;
    text-align: center;
    color: rgb(48, 48, 48);
}

input{
    display: flex;
    margin: auto;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    background-color: #616161;
    color: white;
    border-radius: 5px;
}

#joke{
    margin-bottom: 20px;
}

#formResult{
    text-align: justify;
}

select{
    display: flex;
    margin: auto;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    background-color: #616161;
    color: white;
    border: black solid 2px;
    border-radius: 5px;
    text-transform: capitalize;

}

button{
    display: flex;
    margin: auto;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    background-color: #616161;
    color: white;
    border-radius: 5px;
}