body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
 /* HEADER */
header{
    background-color: #f1c695;
    text-align: center;
    padding: 10px;
}

header img{
    width: 100px;
    height: 100px;
}

h1{
    font-size: 40px;
    letter-spacing: 3px;
    text-shadow: 2px 2px 2px #000;
}

/* SECTION */
#container{
    margin: 20px;
    display: flex;
}

#section1{
    width: 40%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

#Category{
    margin: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 10px solid #f1c695;
    box-shadow: 5px 3px 14px 5px #000000;
}

#Category h2{
    text-align: center;
    font-size: 30px;
    margin: 10px;
}

#Category #categories{
    background-color: #f1c695;
    margin-top: 10px;
    font-size: 20px;
    width: auto;
}

#Category #categoriesResult{
    background-color: #f0f0f0;
    margin-top: 10px;
    padding: 10px;
    font-size: 20px;
    text-align: justify; 
    
}

#section1 #RandomJokes{
    margin: 10px;
    margin-top: 20px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 10px solid #f1c695;
    box-shadow: -5px 3px 14px 5px #000000;
}

#RandomJokes h2{
    text-align: center;
    font-size: 30px;
    margin: 10px;
}

#RandomJokes #refresh{
    background-color: #f1c695;
    padding: 10px;
    font-size: 20px;
    margin-top: 20px;
}

#RandomJokes #refresh:hover{
    border: 2px solid black;
}


#RandomJokes #randomResult{
    background-color: #f0f0f0;
    margin-top: 20px;
    padding: 20px;
    font-size: 20px;
    text-align: justify; 

}


#section2{
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

#section2 #Search{
    width: 60%;
    margin: 10px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 10px solid #f1c695;
    box-shadow: 10px 3px 15px 3px #000000;
}

#Search h2{
    text-align: center;
    font-size: 30px;
    margin: 10px;
}

#Search #form{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Search #form input{
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    width: 300px;
}

#Search #form button{
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    width: 300px;
    background-color: #f1c695;
    border: 2px solid black;
}

#Search #form button:hover{
    border: 3px solid black;
}

#Search #formResult{
    margin-top: 20px;
    padding: 20px;
    font-size: 20px;
    text-align: justify;
    list-style-type: none;
}

#Search #formResult li{
    background-color: #f0f0f0;
    box-shadow: inset -2px -2px #000;
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    text-align: center;
}